.form {
  display: flex;
  flex-direction: column;
  min-width: 450px;
  gap: 20px;
  padding: 50px 10px 0 30px;
}

.title {
  margin: 0 10px 0 30px;
  color: rgb(29, 40, 51);
}

.title hr {
  border: none;
  height: 2px;
  color: rgb(225, 225, 225);
  background-color: rgb(225, 225, 225);
}

.btn {
  display: flex;
  margin-top: 20px;
}

.create_btn {
  margin-right: 10px;
}

.close_btn button {
  color: rgb(207, 0, 0);
}

.close_btn button:hover {
  color: red;
}

.edit_btn {
  margin-right: 20px;
  cursor: pointer;
}

.edit_btn:hover {
  color: rgb(0, 192, 0);
}

.error {
  margin-top: -20px;
  color: rgb(230, 0, 0);
}